/* .card{
    width: 90vh;
    height: 40vh;
    margin: 25px;
    padding: 25px;
    border: 1px solid rgb(211, 210, 210);
}
.center img{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 120px;
    width: 180px;
    margin: 20px 0px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
 */


